* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .hide {
    display: none;
  }
  .correct {
    background-color: rgb(94, 234, 133);
  }
  
  .wrong {
    background-color: rgb(218, 67, 67);
  }

  button{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
  }

  #question{
    font-size: 30px;
  }
