* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .hide {
    display: none;
  }
  .correct {
    background-color: rgb(94, 234, 133);
  }
  
  .wrong {
    background-color: rgb(218, 67, 67);
  }

  button{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
  }

  #question{
    font-size: 30px;
  }

  #score{
    font-size: 40px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: rgb(68, 193, 239);
    align-items: center;
    margin: 20px;
  }

  #finalScore{
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    margin: 20px;
  }
